@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto:400,500";
@import('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css') body {
    line-height: 200%;
}

.c4h-logo {
    max-width: 200px;
    margin-top: -7px;
}

.c4h-home-jumbo {
    background-size: cover;
    background-position: center center;
    color: white;
    text-shadow: 1px 1px #000000;
    text-align: center;
    background-image:url('/webroot/img/headers/home/bg.jpg')
}

.c4h-home-jumbo p {
    font-size: 2.4em;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}

#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover, #custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(219, 219, 219, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a, #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover, #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover, #custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar, #custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

.c4h-home-module {
    text-align: center;
    padding-bottom: 50px;
}

.c4h-home-header {
    font-weight: bold;
    font-size: 18px;
}

.c4h-home-text {
    color: #666;
}

.c4h-home-image {
    margin-left: auto;
    margin-right: auto;
    width: 64px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

.footer {
    text-align: right;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    background-color: #333;
}

.footer .container {
    margin-top: 20px;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer ul li {
    display: inline;
}

.footer ul li a {
    display: inline-block;
    padding: 10px 20px;
}

.user-dashboard hr {
    height: .1em;
}

.user-dashboard .activity-summary span {
    display: block;
    float: right;
    font-size: .55em;
    font-weight: normal
    padding-top: .7em;
}

.user-dashboard .activity-summary > .row {
    border: 1px solid black;
    padding: 1.2em;
}

.user-dashboard .trophies .trophy-icon {
    width: 88px;
    height: 65px;
    background-color: #CCC;
    border: 1px solid #AAA;
    float: left;
    margin: .5em;
}

.user-dashboard .trophies p {
    margin: .5em;
}

.user-dashboard .activity-statistics .value {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

.user-dashboard .module-enrolments div {
    border: 1px solid black;
    padding: .65em;
}

.user-dashboard .module-enrolments img {
    width:  32px;
    height: 32px;
    margin: 0 15px;
}

.user-dashboard .module-enrolments p {
    text-align: center;
}

.user-dashboard .module-enrolments hr {
    border: .1em solid #000;
    background-color: #000;
    width: 80%;
    margin: 15px auto;
}

.user-dashboard .module-enrolments a.catalogue-link {
    display: block;
    text-align: center;
}

.user-dashboard .trophies > .row {
    border: 1px solid black;
    padding: .65em;
}

.dashboard-header {
    font-weight: bold;
}

.dashboard-circle {
    padding-top: 10px;
    border-radius: 50%;
    background-color: #e1d32c;
    width: 50px;
    height: 50px;
    text-align: center;
}

.dashboard-circle img {
    max-width: 80%;
    max-height: 80%;
}

.dashboard-title {
    padding-top: 13px;
}

.dashboard-table {
    margin-top: 10px;
}

.dashboard-section {
    padding-bottom: 50px;
}

.text-content {
    text-align: justify;
}

.panel .input.number {
    width: 8em;
}

.form-control[type=checkbox] {
    width: 3em;
}

.panel textarea {
    width: 30em;
}

.user-form {
    max-width: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.form-signin input {
    margin-top: 10px;
}

.user-form-buttons {
    padding-top: 10px;
}

.ed-display {}

.glyph-buttons {
    font-size: 18px;
    color: red;
}

.glyph-buttons i {
    padding-left: 5px;
    padding-right: 5px;
}

hr {
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
}

.leftContent {
    border-right: 1px solid #333;
}

.resize {
    width: 150px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.box>.icon {
    text-align: center;
    position: relative;
}

.box>.icon>.image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 88px;
    height: 88px;
    border: 8px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: #63B76C;
    vertical-align: middle;
}

.box>.icon:hover>.image {
    background: #333;
}

.box>.icon>.image>i {
    font-size: 36px !important;
    color: #fff !important;
}

.box>.icon:hover>.image>i {
    color: white !important;
}

.box>.icon>.info {
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid #e0e0e0;
    padding: 15px 0 10px 0;
}

.min-height-box{
  min-height: 280px;
}

.box>.icon:hover>.info {
    background: rgba(0, 0, 0, 0.04);
    border-color: #e0e0e0;
    color: white;
}

.box>.icon>.info>h3.title {
    font-family: "Roboto", sans-serif !important;
    font-size: 16px;
    color: #222;
    font-weight: 500;
}

.box>.icon>.info>p {
    font-family: "Roboto", sans-serif !important;
    font-size: 13px;
    color: #666;
    line-height: 1.5em;
    margin: 20px;
}

.box>.icon:hover>.info>h3.title, .box>.icon:hover>.info>p, .box>.icon:hover>.info>.more>a {
    color: #222;
}

.box>.icon>.info>.more a {
    font-family: "Roboto", sans-serif !important;
    font-size: 12px;
    color: #222;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.box>.icon:hover>.info>.more>a {
    color: #fff;
    padding: 6px 8px;
    background-color: #63B76C;
}

.box .space {
    height: 30px;
}

.enroll-buttons {
    text-align: center;
}


/* WELL-BEING PAGE */

#module-game {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.mg-container {
    position: absolute;
    width: 278px;
    display: table-row;
}


/* ICONS */

.mg-icon-right {
    float: left;
}

.mg-icon {
    cursor: pointer;
    background-color: #ACE3DF;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    transition: background-color 0.5s ease;
}

.mg-icon>img {
    transition: background-color 0.5s ease;
    margin: 0 auto;
}

.mg-icon-left {
    float: right;
}

.mg-fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.mg-fade:hover {
    opacity: 0.5;
}

.mg-icon-left:hover {
    background-color: #D5F1EF;
}

.mg-text {
    width: 150px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 14pt;
    font-weight: normal;
    height: 128px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.hruler {
    margin-top: 50px;
    height: 1px;
    width: 100%;
    background-color: #000000;
}

.placeholder-padding {
    padding-top: 50px;
}

.mobsphere {
    background-color: #ACE3DF;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.mobimodule {
    padding-top: 30px;
    font-family: "Gloria Hallelujah", cursive;
}

.mobsphere-locked {
    background-color: #809296;
    cursor: context-menu;
}

#yoga-girl {
    padding-top: 200px;
    padding-right: 200px;
    padding-left: 200px;
}


/*Modal */

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1300px;
    }
}

.home-title {
    text-align: center;
}

.user-profile-buttons {
    text-align: center;
}


/*Registration */

.wemwbs-table {
    width: 100%;
}

.wemwbs-table td {
    text-align: center;
    padding: 7px;
}

.general-health {
    width: 100%;
}

.general-health td {
    text-align: center;
    padding: 7px;
}

.occupation {
    margin: 14px 10px;
}

.work-performance>tbody {
    text-align: center;
}

.work-performance-header>th {
    text-align: center;
}

.occupation {
    margin: 14px 10px;
}

.work-performance {
    text-align: center;
}

.radio-extra {
    padding-left: 30px;
}

.edit-button > a {
  color:#DDDDDD;
}
.edit-button > a:hover{
  color:white;
}
